page-apps-list {
    empty-app-list {
        font-size: 18px;
        color: #424242;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    button {
        --background-hover: #424242;
    }
}
