page-app-details {
    div {
        margin-left: 5px;
    }

    label {
        font-size: 14px;
        font-weight: bold;
    }

    p {
        font-size: 14px;
    }

    button {
        border-color: transparent;
    }

    ion-icon {
        color: #424242;
        padding-right: 5px;
    }

    .show-hide-icon {
        color: black;
        font-size: 3rem;
    }

    ion-row {
     
        ion-icon {
            font-size: 25px;
            padding-left: 10px;
            color: #424242;
        }
        button {
            border-color: transparent;
            padding-left: 10px; 
        }
    }

    ion-col > div {
        background-color: #f7f7f7;
        border: solid 1px #ddd;
        padding: 10px;
      }
}
