page-home {
    ion-title {
        text-align: center;
        padding: auto;
    }

    img {
        width: 75%;
        align-self: center;
        margin: auto;
        display: block;
        padding: auto;
    }

    .button-home {
        margin-top: 10px;
        height: 45px;
    }
}
